#divBody {
  position: relative;
  width: 1200px;
  height: 160px;
  margin: 50px auto;
}

#banner {
  width: 1200px;
  height: 140px;
  position: absolute;
  text-align: center;
}

.bnrBg {
  width: 1200px;
  height: 100px;
  margin-top: 40px;
  position: absolute;
}

.bgImg {
  width: 1200px;
  height: 100px;
}

.slg {
  width: 1200px;
  height: 40px;
  background-color: #33994d;
  text-align: center;
  color: white;
  font-family: "Arial";
  font-size: 200%;
  position: absolute;
}

#bnrBg1 {
  z-index: 1;
  animation-name: glideRightBg1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes glideRightBg1 {
  0% {
    margin-left: -1500px;
  }
  20% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

#slg1 {
  z-index: 2;
  background-color: black;
  animation-name: glideLeftSlg1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes glideLeftSlg1 {
  0% {
    margin-left: 1500px;
  }
  20% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

#bnrBg2 {
  z-index: 3;
  animation-name: glideLeftBg2;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes glideLeftBg2 {
  0% {
    margin-left: 1500px;
  }
  20% {
    margin-left: 1500px;
  }
  40% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

#slg2 {
  z-index: 4;
  background-color: black;
  animation-name: fallInSlg2;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes fallInSlg2 {
  0% {
    margin-top: -300px;
  }
  20% {
    margin-top: -300px;
  }
  40% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

#bnrBg3 {
  z-index: 5;
  animation-name: fallInBg3;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes fallInBg3 {
  0% {
    margin-top: -300px;
  }
  40% {
    margin-top: -300px;
  }
  60% {
    margin-top: 40px;
  }
  100% {
    margin-top: 40px;
  }
}

#slg3 {
  z-index: 6;
  color: black;
  background-color: white;
  animation-name: glideRightSlg3;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes glideRightSlg3 {
  0% {
    margin-left: -1500px;
  }
  40% {
    margin-left: -1500px;
  }
  60% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

#bnrBg4 {
  z-index: 7;
  animation-name: glideRightBg4;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes glideRightBg4 {
  0% {
    margin-left: -1500px;
  }
  60% {
    margin-left: -1500px;
  }
  80% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

#slg4 {
  z-index: 8;
  background-color: #3399ff;
  animation-name: glideLeftSlg4;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes glideLeftSlg4 {
  0% {
    margin-left: 1500px;
  }
  60% {
    margin-left: 1500px;
  }
  80% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

#img1 {
  height: 90px;
}

#divImg1 {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 8;
  margin-left:-1000px;
  margin-top: 45px;
  animation-duration: 10s;
  animation-name: rollRight;
  animation-iteration-count: 3;
}

#img2 {
  height: 90px;
}

#divImg2 {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 8;
  margin-left: 1000px;
  margin-top: 45px;
  animation-duration: 10s;
  animation-name: rollLeft;
  animation-iteration-count: 3;
}

@keyframes rollRight {
  0% {
    margin-left: -1000px;

  }
  60% {
    margin-left: -1000px;
    transform: rotate(0deg);

  }
  80% {
    margin-left: 0px;
    transform: rotate(2880deg);

  }
  100% {
    margin-left: 0px;
    transform: rotate(2880deg);
  }
}

@keyframes rollLeft {
  0% {
    margin-left: 2000px;
  }
  60% {
    margin-left: 2000px;
    transform: rotate(0deg);
  }
  80% {
    margin-left: 1100px;
    transform: rotate(-2880deg);
  }
  100% {
    margin-left: 1100px;
    transform: rotate(-2880deg);
  }
}

#bnrBg5 {
  background-color: purple;
  z-index: 9;
  animation-name: scaleIn;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

#slg5 {
  z-index: 10;
  animation-name: scaleIn;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
}

#img3 {
  height: 100px;
}

#divImg3 {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
  margin-left: 0px;
  margin-top: 40px;
  animation-duration: 10s;
  animation-name: fallIn;
  animation-iteration-count: 3;
}

@keyframes fallIn {
  0% {
    margin-top: -300px;
  }
  80% {
    margin-top: -300px;
  }
  100% {
    margin-top: 40px;
  }
}

#clickme {
  width: 150px;
  position: absolute;
  margin-left: 900px;
  margin-top: 90px;
  font-family: "Arial";
  font-size: 150%;
  color: white;
  z-index: 10;
  animation-name: enroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes enroll {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#author {
  width: 500px;
  position: absolute;
  margin-left: 300px;
  margin-top: 80px;
  font-family: "Arial";
  font-size: 120%;
  z-index: 10;
  animation-name: fadeIn;
  animation-duration: 31s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  93.75% {opacity: 0;}
  100% {opacity: 1;}
}

#loopBand1 {
  position: absolute;
  width: 1140px;
  height: 20px;
  margin-top: 145px;
  z-index: 11;
  font-family: "Arial";
  white-space: nowrap;
  visibility: hidden;
  animation-delay: 10s;
  animation-name: looping1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#loopBand2 {
  position: absolute;
  width: 1140px;
  height: 20px;
  margin-top: 145px;
  background-position: 0px 0px;
  z-index: 11;
  font-family: "Arial";
  white-space: nowrap;
  visibility: hidden;
  animation-delay: 15s;
  animation-name: looping2;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes looping1 {
  0% {
    visibility: visible;
    margin-left: 100%;
    color: red;
  }
  50% {
    visibility: visible;
    margin-left: 0%;
    color: green;
  }
  100% {
    visibility: visible;
    margin-left: -100%;
    color: blue;
  }
}
@keyframes looping2 {
  0% {
    visibility: visible;
    margin-left: 100%;
    color: blue;
  }
  50% {
    visibility: visible;
    margin-left: 0%;
    color: green;
  }
  100% {
    visibility: visible;
    margin-left: -100%;
    color: red;
  }
}