#divSide {
  position: relative;
  z-index: 0;
  width: 300px;
  height: 250px;
  background-color: white;
}

#divAd {
  width: 300px;
  height: 250px;
  z-index: 1;
  position: absolute;
  background-color: black;
}
#adBg {
  width: 300px;
  height: 250px;
  position: absolute;
  visibility: hidden;
  animation-name: adBgFade;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes adBgFade {
  0% {
    visibility: visible;
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  45% {
    opacity: 0.9;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#logo {
  width: 80%;
}

#divLogo {
  width: 36px;
  height: 38px;
  z-index: 10;
  position: absolute;
  margin-top: 20px;
  margin-left: 250px;
  visibility: hidden;
  animation-name: glideIn;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes glideIn {
  0% {
    visibility: visible;
    margin-left: 350px;
  }
  10% {margin-left: 250px;}
  100% {margin-left: 250px;}
}

#disk {
  width: 100%;
  opacity: 0.5;
}

#divDisk {
  position: absolute;
  margin-left: 15px;
  margin-top: 3px;
  visibility: hidden;
  animation-name: aniDisk;
  animation-delay: 1s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes aniDisk {
  0% {
    visibility: visible;
    transform: scale(0.8);
    opacity: 0.8;
  }
  5% {
    transform: scale(1.1);
    opacity: 1;
  }
  7% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  27% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#slogan {
  width: 110%;
}

#divSlogan {
  position: absolute;
  margin-left: 66px;
  margin-top: 32px;
  visibility: hidden;
  animation-name: aniSlogan;
  animation-delay: 1s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes aniSlogan {
  0% {
    visibility: visible;
    transform: scale(1.1);
    opacity: 0;
  }
  5% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  27% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#TM {
  width: 45%;
}

#divTM {
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  visibility: hidden;
  animation-name: aniTM;
  animation-delay: 2.5s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes aniTM {
  0% {
    visibility: visible;
    margin-top: -100px;
  }
  5% {
    margin-top: 20px;
  }
  50% {
    visibility: hidden;
  }
  100% {
    margin-top: 20px;
  }
}

#partner {
  width: 100%;
}

#divPartner {
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  visibility: hidden;
  animation-name: aniPartner;
  animation-delay: 2.5s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes aniPartner {
  0% {
    visibility: visible;
    transform: scale(0.5);
    opacity: 0;
  }
  5% {
    transform: scale(1.1);
    opacity: 1;
  }
  6% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

#divAuthor {
  position: absolute;
  width: 300px;
  height: 10px;
  z-index: -100;
  margin-left: 20px;
  margin-top: 100px;
  visibility: visible;
  color: white;
  font-family: "Arial";
  animation-name: hide;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes hide {
  0% {visibility: hidden;}
  100% {visibility: hidden;}
}

#divReplay {
  position: absolute;
  width: 50px;
  height: 10px;
  margin-left: 125px;
  margin-top: 150px;
  font-family: "Arial";
  animation-name: hide;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
